title = "Документы"
url = "/documents"
layout = "default"
is_hidden = 0
==
<main class="main-content container">

    <div class="grid">
         <div class="widget-area-wrapper col-tablet-5 col-laptop-4">
           <aside class="widget-area">
             <div class="widget">
               <div class="widget__header">
                 <div class="widget__title">Документы</div>
               </div>
               <div class="widget__content">
                 <ul class="documents-items-list">
                   <li class="documents-item">
    <a href="/documents/constituent-documents" class="documents-item__wraplink">
        Учредительные документы
    </a>
</li>
<li class="documents-item">
    <a href="/documents/permits-documents" class="documents-item__wraplink">
        Разрешительные документы
    </a>
</li>
<li class="documents-item">
    <a href="/documents/regulations-documents" class="documents-item__wraplink">
        Нормативные документы
    </a>
</li>

                 </ul>
               </div>
             </div>
           </aside>
         </div>
         <div class="content-area-wrapper col-tablet-7 col-laptop-8">
           <article class="content-area">
             <div class="page__header">
               <h1 class="page__title">Учредительные документы</h1>
             </div>

             <div class="page__content">
               <div class="gallery grid js-trigger-gallery-popup">

               </div>
             </div>
           </article>
         </div>
       </div>
      </div>