title = "О нас"
url = "/"
layout = "default"
is_hidden = 0
==
<main class="main-content">
    <div class="content-area">
        <div class="container">
            <div class="index-sections-group grid">
                <section class="index-sections-group__item index-sections-group__item--news">
                    <div class="page__header">
                        <h2 class="page__title">Новости</h2>
                    </div>
                    <div class="page__content">
                        <div class="items-news">
                            <div class="item-news">
                                <a href="">
                                    <img class="news-img" src="img/lab-news.png" alt="">
                                    <div class="item">
                                        <h3>Мы открылись</h3>
                                        <p>Мы открылись</p>

                                        <div class="dt-news">01.12.2016</div>
                                    </div>
                                </a>
                            </div>

                            <div class="news-btn">
                                <a href="/news" class="button button--fluid">Смотреть все новости</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="index-sections-group__item index-sections-group__item--docs">
                    <div class="page__header">
                        <h2 class="page__title">Документы</h2>
                    </div>
                    <div class="page__content">
                        <ul class="documents-items-list">
                            <li class="documents-item">
                                <a href="/documents/constituent-documents" class="documents-item__wraplink">
                                    Учредительные документы
                                </a>
                            </li>
                            <li class="documents-item">
                                <a href="/documents/permits-documents" class="documents-item__wraplink">
                                    Разрешительные документы
                                </a>
                            </li>
                            <li class="documents-item">
                                <a href="/documents/regulations-documents" class="documents-item__wraplink">
                                    Нормативные документы
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="index-sections-group__item index-sections-group__item--about">
                    <div class="page__header">
                        <h2 class="page__title">О нас</h2>
                    </div>
                    <div class="page__content">

                       <p align="justify">Основным направлением деятельности нашей организации является оказание услуг по соблюдению природоохранного законодательства предприятиями – природопользователями, а именно: разработка и согласование в контролирующих органах проектной документации, организация системы производственного экологического контроля на предприятиях.</p>

<p align="justify">Наличие аттестата аккредитации в собственной лаборатории экологического мониторинга позволяем собственными силами, без привлечения сторонних организаций, оперативно проводить все необходимые лабораторные исследования для СОУТ, разработки паспортов опасных отходов <span lang="en-US">I</span>-<span lang="en-US">IV</span>классов опасности, разработки проектов ПДВ, СЗЗ, ЗСО, ПНООЛР, проведения мониторинга загрязнения окружающей среды.</p>

<p align="justify">Наличие автотранспортных средств в организации позволяет оперативно выезжать на объекты для проведения всех необходимых видов работ (проведение инвентаризации источников выбросов вредных загрязняющих веществ, инвентаризации опасных отходов, сбор необходимых исходных данных для разработки проектов, ознакомления с техническими процессами на предприятиях), что значительно ускоряет сроки разработки проектов ПДВ, СЗЗ, ПНООЛР, ЗСО, НДС.</p>

<p align="justify">Высококвалифицированные и опытные сотрудники смогут проконсультировать Вас по любому интересующему вопросу и предложить возможные и менее затратные способы решения Ваших проблем в рамках действующего природоохранного законодательства.</p>

<p align="justify">Так же одним из направлений нашей деятельности является рекультивация нарушенных земель. Мы можем оказывать комплекс работ по данному направлению начиная с разработки проекта рекультивации с проведением Государственной экспертизы разработанной проектно-сметной документации и заканчивая непосредственно проведением комплекса работ по рекультивации нарушенных земель (несанкционированных свалок, полигонов ТБО, карьеров, нефтеразливов и т.д.).</p>

<p>Наша организация активно участвует в тендерных торгах и готова оказать услуги по обоснованию начальной максимальной цены контракта (НМЦК), помочь в составлении технического задания и проекта Государственного контракта, а так же непосредственно принять участие в аукционе, запросе котировок и других конкурентных способах определения поставщика.</p>

                    </div>
                </section>
            </div>
        </div>

        <section class="callback-section">
            <div class="container">
                <div class="page__header">
                    <h2 class="callback-section__title page__title">Заказать обратный звонок</h2>
                </div>
                <form class="callback-form" data-request="onSendCallbackBottom" data-request-success="ok(data)" action="" method="post">
                    <div class="grid">
                        <div class="col-tablet-6">
                            <label class="form-item">
                                <label class="form-label form-label--required visuallyhidden">Ваше имя</label>
                                <input type="text" class="form-control" name="bottomname" placeholder="Ваше имя" required>
                            </label>
                            <label class="form-item">
                                <label class="form-label form-label--required visuallyhidden">Телефон</label>
                                <input type="text" class="form-control" name="bottomphone" placeholder="Телефон" required>
                            </label>
                        </div>
                        <div class="col-tablet-6">
                            <label class="form-item">
                                <label class="form-label form-label--required visuallyhidden">Сообщение</label>
                                <textarea name="bottommessage" id="" class="form-control" placeholder="Сообщение"
                                          required=""></textarea>
                            </label>
                        </div>
                    </div>
                    <div class="form-submit-wrapper grid">
                        <div class="col-mobile-6 col--center">
                            <button class="button form-submit">Заказать звонок</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</main>