title = "Клиенты"
url = "/clients"
layout = "default"
is_hidden = 0

[client]
==
<div class="content-area">
        <div class="page__header container">
            <h1 class="page__title">Клиенты</h1>
        </div>

        <div class="page__content container">
            <div class="decor-boxes">
                {% component 'client' %}
            </div>
        </div>
    </div>