title = "Контакты"
url = "/contact"
layout = "default"
is_hidden = 0
==
<div class="content-area">
        <div class="content-area">
            <div class="container">
                <div class="grid">
                    <div class="col-tablet-5">
                        <div class="page__header">
                            <h1 class="page__title">Контакты</h1>
                        </div>
                        <div class="page__content">
                            <p>Адрес: г.Брянск, ул. Бурова 12а (6 этаж)</p>
                            <p>Телефон: +7(4832) 40 00 39</p>
                            <p>Факс: +7 (4832) 40 01 39</p>
                            <p>E-mail: info@eco-region-lab.pro</p>
                        </div>
                    </div>
                    <div class="col-tablet-7">
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3ALQYilVtYBlWRI54vCiFZsmmvoFG6eiSV&amp;width=697&amp;height=490&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>
                </div>
            </div>


        </div>
        <section class="callback-section">
            <div class="container">
                <div class="page__header">
                    <h2 class="callback-section__title page__title">Заказать обратный звонок</h2>
                </div>
                <form class="callback-form" data-request="onSendCallbackBottom" data-request-success="ok(data)" action="" method="post">
                    <div class="grid">
                        <div class="col-tablet-6">
                            <label class="form-item">
                                <label class="form-label form-label--required visuallyhidden">Ваше имя</label>
                                <input type="text" class="form-control" name="bottomname" placeholder="Ваше имя" required>
                            </label>
                            <label class="form-item">
                                <label class="form-label form-label--required visuallyhidden">Телефон</label>
                                <input type="text" class="form-control" name="bottomphone" placeholder="Телефон" required>
                            </label>
                        </div>
                        <div class="col-tablet-6">
                            <label class="form-item">
                                <label class="form-label form-label--required visuallyhidden">Сообщение</label>
                                <textarea name="bottommessage" id="" class="form-control" placeholder="Сообщение"
                                          required=""></textarea>
                            </label>
                        </div>
                    </div>
                    <div class="form-submit-wrapper grid">
                        <div class="col-mobile-6 col--center">
                            <button class="button form-submit">Заказать звонок</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>