title = "Партнеры"
url = "/partners"
layout = "default"
is_hidden = 0

[partnersView]
==
<div class="content-area">
          <div class="page__header container">
            <h1 class="page__title">Партнёры</h1>
          </div>

          <div class="page__content container">
            <div class="decor-boxes">

{% component 'partnersView' %}
            </div>
          </div>
        </div>