title = "Ссылки на федеральные службы"
url = "/links-to-federal"
layout = "default"
is_hidden = 0

[links]
==
<div class="content-area">
        <div class="page__header container">
          <h2 class="page__title">ссылки на федеральные службы</h2>
        </div>

        <div class="page__content container">
          <div class="federal-links">
            <div class="federal-links__list">
           
              {% component 'links' %}
            </div>
          </div>
        </div>
    </div>