title = "Виды деятельности"
url = "/activities"
layout = "default"
is_hidden = 0

[activitielist]
==
<div class="content-area">
        <div class="page__header container">
            <h1 class="page__title">Виды деятельности</h1>
        </div>

        <div class="page__content container">
            <div class="decor-boxes">

           {% component 'activitielist' %}

               
            </div>
        </div>
    </div>