
{% set data = __SELF__.data %}

{% for d in data %}


<a class="decor-boxes__item" href="/activities/{{d.slug}}">
                    <span class="decor-boxes__item-inner">
                        <span class="decor-boxes__item-content">
                            {{d.title}}
                        </span>
                    </span>
</a>
{% endfor %}