description = "Default layout"
==
<?php
function onSendQuestion(){

            
            $title='Сообщение из формы "Задать вопрос"';
            $name=input('question-name');
            $email=input('question-email');
            $comment=input('question-message');
            
            $vars = ['title' => $title ,'name' => $name, 'email' => $email, 'comment' => $comment];
            Mail::send('Sendmail', $vars, function($messa) {
            $messa->to(['info@eco-region-lab.pro' => 'Заголовок']);  // куда
            $messa->subject('Письмо с сайта');
            });     
            return 'ok';
    }
    
function onSendCallback(){

            
            $title='Сообщение из формы "Обратный звонок"';
            $name=input('callback-name');
            $phone=input('callback-phone');        
            $vars = ['title' => $title ,'name' => $name, 'phone' => $phone];
            $a = Mail::send('Sendmail', $vars, function($messa) {
            $messa->to(['info@eco-region-lab.pro' => 'Заголовок']);  // куда
            $messa->subject('Письмо с сайта');
            }); 
            return 'ok';
            
    }
    
function onSendCallbackBottom(){

            
            $title='Сообщение из форм "Заказать обратный звонок"';
            $name=input('bottomname');
            $phone=input('bottomphone');        
            $message=input('bottommessage');    
            
            $vars = ['title' => $title ,'name' => $name, 'phone' => $phone, 'comment' => $message];
            Mail::send('Sendmail', $vars, function($messa) {
            $messa->to(['info@eco-region-lab.pro' => 'Заголовок']);  // куда
            $messa->subject('Письмо с сайта');
            });     
            return 'ok';
    }
?>
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Эко-Регион-Лаб - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="SiteWeb">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="">
    <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
    <link href="{{ 'assets/css/main.css'|theme }}" rel="stylesheet">
    {% styles %}
</head>

<body>

{% partial "site/header" %}

{% page %}


{% partial "site/footer" %}
<div class="popup popup-callback mfp-hide" id="popup-callback">
    <div class="popup__title">Обратный звонок</div>
    <form class="form-callback" name="form-callback" data-request="onSendCallback" data-request-success="ok(data)" action="" method="post">
        <div class="form-item">
            <label class="form-label form-label--required" for="field-callback-name">Представьтесь, пожалуйста</label>
            <input class="form-control" type="text" id="field-callback-name" name="callback-name" placeholder=""
                   required>
        </div>
        <div class="form-item">
            <label class="form-label form-label--required" for="field-callback-tel">Номер телефона</label>
            <input class="form-control" type="tel" id="field-callback-tel" name="callback-tel" placeholder="" required>
        </div>
        <div class="form-submit-wrapper">
            <button class="form-submit button" type="submit">Отправить</button>
        </div>
    </form>
</div>

<!--  Форма вопроса-->
<div class="popup popup-question mfp-hide" id="popup-question">
    <div class="popup__title">Задать вопрос</div>
    <form class="form-question" name="form-question" data-request="onSendQuestion" data-request-success="ok(data)"  action="" method="post">
        <label class="form-item">
            <span class="form-label form-label--required">Представьтесь, пожалуйста</span>
            <input class="form-control" type="text" id="question-name" name="question-name" placeholder="" required>
        </label>
        <label class="form-item">
            <span class="form-label form-label--required">E-mail</span>
            <input class="form-control" type="email" id="question-email" name="question-email" placeholder="" required>
        </label>
        <label class="form-item">
            <span class="form-label form-label--required">Сообщение:</span>
            <textarea class="form-control" id="question-message" name="question-message" rows="6" required></textarea>
        </label>

        <div class="form-submit-wrapper">
            <button class="form-submit button" type="submit">Отправить</button>
        </div>
    </form>
</div>

<div class="popup popup-callback mfp-hide" id="popup-thanks">
    <div class="popup__title">Спасибо за обращение</div>
</div>

<!-- Scripts -->

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="{{ 'assets/js/jquery.magnific-popup.min.js'|theme }}"></script>
<script src="{{ 'assets/js/script.js'|theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
<script src="{{ 'assets/javascript/app.js'|theme }}"></script>
{% framework extras %}
{% scripts %}

<script>

    if(window.location.pathname=='/'){

        $('body').addClass('homepage');
    }
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter41686964 = new Ya.Metrika({
                    id: 41686964,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>


<script>
    
    function ok (data){
        if (data.result=='ok'){
            $('#popup-thanks').modal('show');
            $.magnificPopup.open({
              items: {
                src: '#popup-thanks'
              },
              type: 'inline'

            }, 0);
        }
    }
</script>

<noscript>
    <div><img src="https://mc.yandex.ru/watch/41686964" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->


</body>
</html>