
{% set links = __SELF__.links %}

{% for link in links %}
<a href="{{link.liks}}" target="_blank" class="federal-links__item">
    <div class="federal-links__image-area">
        <div class="federal-links__image">
            <img src="{{link.icon.path}}" alt="">
        </div>
    </div>
                <span class="federal-links__text-area">
                  <span class="federal-links__title">{{link.title}}</span>
                  <span class="federal-links__link">{{link.liks}}</span>
                </span>
</a>

{% endfor %}