@font-face {
  font-family: 'futurafuturisc';
  src: url("fonts/futurafuturisc-webfont.woff2") format("woff2"), url("fonts/futurafuturisc-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futurafuturisc';
  src: url("fonts/futurafuturisc-bold-webfont.woff2") format("woff2"), url("fonts/futurafuturisc-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

/*=====================================
=            Mfp overrides            =
=====================================*/
/*=====  End of Mfp overrides  ======*/
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #000;
  opacity: 1; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 1;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #fff; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 1;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before, .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #fff; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #fff; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px; }

[class*="col-"] {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box; }

.col-1 {
  width: 8.33333%; }

.col--center {
  margin-left: auto;
  margin-right: auto; }

.col-2 {
  width: 16.66667%; }

.col--center {
  margin-left: auto;
  margin-right: auto; }

.col-3 {
  width: 25%; }

.col--center {
  margin-left: auto;
  margin-right: auto; }

.col-4 {
  width: 33.33333%; }

.col--center {
  margin-left: auto;
  margin-right: auto; }

.col-5 {
  width: 41.66667%; }

.col--center {
  margin-left: auto;
  margin-right: auto; }

.col-6 {
  width: 50%; }

.col--center {
  margin-left: auto;
  margin-right: auto; }

.col-7 {
  width: 58.33333%; }

.col--center {
  margin-left: auto;
  margin-right: auto; }

.col-8 {
  width: 66.66667%; }

.col--center {
  margin-left: auto;
  margin-right: auto; }

.col-9 {
  width: 75%; }

.col--center {
  margin-left: auto;
  margin-right: auto; }

.col-10 {
  width: 83.33333%; }

.col--center {
  margin-left: auto;
  margin-right: auto; }

.col-11 {
  width: 91.66667%; }

.col--center {
  margin-left: auto;
  margin-right: auto; }

.col-12 {
  width: 100%; }

.col--center {
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 480px) {
  .col-mobile-1 {
    width: 8.33333%; }
  .col-mobile-2 {
    width: 16.66667%; }
  .col-mobile-3 {
    width: 25%; }
  .col-mobile-4 {
    width: 33.33333%; }
  .col-mobile-5 {
    width: 41.66667%; }
  .col-mobile-6 {
    width: 50%; }
  .col-mobile-7 {
    width: 58.33333%; }
  .col-mobile-8 {
    width: 66.66667%; }
  .col-mobile-9 {
    width: 75%; }
  .col-mobile-10 {
    width: 83.33333%; }
  .col-mobile-11 {
    width: 91.66667%; }
  .col-mobile-12 {
    width: 100%; }
  .col-mobile--center {
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 768px) {
  .col-tablet-1 {
    width: 8.33333%; }
  .col-tablet-2 {
    width: 16.66667%; }
  .col-tablet-3 {
    width: 25%; }
  .col-tablet-4 {
    width: 33.33333%; }
  .col-tablet-5 {
    width: 41.66667%; }
  .col-tablet-6 {
    width: 50%; }
  .col-tablet-7 {
    width: 58.33333%; }
  .col-tablet-8 {
    width: 66.66667%; }
  .col-tablet-9 {
    width: 75%; }
  .col-tablet-10 {
    width: 83.33333%; }
  .col-tablet-11 {
    width: 91.66667%; }
  .col-tablet-12 {
    width: 100%; }
  .col-tablet--center {
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1024px) {
  .col-laptop-1 {
    width: 8.33333%; }
  .col-laptop-2 {
    width: 16.66667%; }
  .col-laptop-3 {
    width: 25%; }
  .col-laptop-4 {
    width: 33.33333%; }
  .col-laptop-5 {
    width: 41.66667%; }
  .col-laptop-6 {
    width: 50%; }
  .col-laptop-7 {
    width: 58.33333%; }
  .col-laptop-8 {
    width: 66.66667%; }
  .col-laptop-9 {
    width: 75%; }
  .col-laptop-10 {
    width: 83.33333%; }
  .col-laptop-11 {
    width: 91.66667%; }
  .col-laptop-12 {
    width: 100%; }
  .col-laptop--center {
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1440px) {
  .col-laptop-l-1 {
    width: 8.33333%; }
  .col-laptop-l-2 {
    width: 16.66667%; }
  .col-laptop-l-3 {
    width: 25%; }
  .col-laptop-l-4 {
    width: 33.33333%; }
  .col-laptop-l-5 {
    width: 41.66667%; }
  .col-laptop-l-6 {
    width: 50%; }
  .col-laptop-l-7 {
    width: 58.33333%; }
  .col-laptop-l-8 {
    width: 66.66667%; }
  .col-laptop-l-9 {
    width: 75%; }
  .col-laptop-l-10 {
    width: 83.33333%; }
  .col-laptop-l-11 {
    width: 91.66667%; }
  .col-laptop-l-12 {
    width: 100%; }
  .col-laptop--center {
    margin-left: auto;
    margin-right: auto; } }

.button {
  color: #fff;
  background-color: #21bdb0;
  display: inline-block;
  padding: 0.5em 1em;
  border: 2px solid transparent;
  text-align: center;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  line-height: normal;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer; }
  .button:hover, .button:focus {
    color: #fff;
    background-color: #1eaa9e;
    outline: none; }
  .button:active {
    color: #fff;
    background-color: #1ca196; }
  .button--small {
    font-size: 0.875rem; }
  .button--fluid {
    width: 100%;
    display: block; }

.button--dark {
  color: #fff;
  background-color: #024f6a; }
  .button--dark:hover, .button--dark:focus {
    color: #fff;
    background-color: #02475f;
    outline: none; }
  .button--dark:active {
    color: #fff;
    background-color: #02435a; }

.form-item {
  margin-bottom: 1em;
  display: block; }

.form-label {
  display: inline-block;
  padding-bottom: 0.3em;
  vertical-align: middle;
  font-size: 0.95rem;
  cursor: pointer; }

.form-label--required::after {
  display: inline-block;
  margin-left: 0.2em;
  color: #F44336;
  content: "*"; }

.form-control {
  padding: 0.875em;
  width: 100%;
  outline: none;
  border: 1px solid;
  background: rgba(26, 26, 26, 0.9);
  font: inherit;
  font-size: 1rem;
  line-height: normal;
  box-sizing: border-box;
  transition: 0.3s;
  color: #b7b7b7; }

textarea.form-control {
  min-height: calc((0.875em * 4) + (1rem * 2 * 1.2) + 4px + 1em);
  max-height: 200px;
  resize: vertical; }

.form-control:hover {
  background: #1a1a1a; }

.form-control:focus {
  border-color: #aaaaaa;
  color: #1a1a1a;
  background: #f5f5f5; }

.form-submit-wrapper {
  margin-top: 0.5rem;
  text-align: center; }

.form-submit {
  width: 100%; }

.form-note {
  margin-top: 0.9375rem;
  font-size: 0.96875rem; }
  .form-note p {
    margin-bottom: 0; }

.popup {
  position: relative;
  background: #000;
  padding: 2rem;
  width: auto;
  max-width: 400px;
  margin: 20px auto; }

.popup__title {
  margin: 0;
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.65rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase; }

/* overlay at start */
.popup-fade.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out; }

/* overlay animate in */
.popup-fade.mfp-bg.mfp-ready {
  opacity: 0.95; }

/* overlay animate out */
.popup-fade.mfp-bg.mfp-removing {
  opacity: 0; }

/* content at start */
.popup-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.3s ease-out; }

/* content animate it */
.popup-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

/* content animate out */
.popup-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

.gallery__item {
  margin-bottom: 20px; }

.gallery__link {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 150%;
  display: block; }
  .gallery__link img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
    .no-objectfit .gallery__link img {
      height: auto; }
    .no-objectfit.csstransforms .gallery__link img {
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }

.one-news__header {
  display: flex; }

.one-news__title {
  margin-right: auto; }

.one-news__main-image {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 30%;
  margin-bottom: 1rem; }
  .one-news__main-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
    .no-objectfit .one-news__main-image img {
      height: auto; }
    .no-objectfit.csstransforms .one-news__main-image img {
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }

.one-news__date {
  color: #777; }

.one-news__text {
  margin-top: 2.5rem; }

.decor-boxes__item {
  display: block;
  padding: 1rem;
  margin-bottom: 1em;
  border: 1px solid #21bdb0;
  font-size: 1.125rem;
  background-color: #222;
  text-decoration: none;
  color: currentColor;
  transition: 0.3s;
  box-sizing: border-box;
  outline: none;
  text-align: center; }
  .decor-boxes__item:hover, .decor-boxes__item:focus {
    background-color: #21bdb0;
    color: currentColor; }
    .decor-boxes{
        margin-top: 137px;
    }
  .decor-boxes__item:nth-child(7n) {
      margin-left: 0; }
      .decor-boxes__item:nth-child(7n+1) {
      margin-top: -7.14286%; }
      .decor-boxes__item:nth-child(7n+2) {
      margin-top: 0; }
      .decor-boxes__item:nth-child(7n+3) {
      margin-top: -7.14286%; }
      .decor-boxes__item:nth-child(7n+5) {
      margin-top: -7.14286%; }
      .decor-boxes__item:nth-child(7n+7) {
      margin-top: -7.14286%; }
@media only screen and (min-width: 480px) {
  .decor-boxes {
    display: flex;
    flex-wrap: wrap; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .decor-boxes__item {
    width: calc(50% - 1em / 2);
    margin-right: 1em; }
    .decor-boxes__item:nth-child(2n) {
      margin-right: 0; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .decor-boxes__item {
    width: calc(100% / 3 - 1em * 2 / 3);
    margin-right: 1em; }
    .decor-boxes__item:nth-child(3n) {
      margin-right: 0; } }

@media only screen and (min-width: 1024px) {
  .decor-boxes {
    display: block;
    font-size: 0; }
  .decor-boxes__item {
    display: inline-block;
    vertical-align: top;
    z-index: 5;
    margin-bottom: 0;
    width: calc(14.28571% + 1em * 6 / 7);
    margin-left: -1em;
    text-align: center;
    font-size: 0.875rem;
    position: relative;
    border: none;
    background: none; }
    .decor-boxes__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 86.6'%3E%3Cpath fill='%23222' fill-opacity='0.8' stroke='%2321bdb0' stroke-width='2' d='M25.6 85.6L1.2 43.3 25.6 1h48.8l24.4 42.3-24.4 42.3H25.6z' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: transform 0.45s;
      /*background-image 0.3s; */
    }
    .decor-boxes__item:hover, .decor-boxes__item:focus {
      background: none; }
      .decor-boxes__item:hover::before, .decor-boxes__item:focus::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 86.6'%3E%3Cpath fill='%2321bdb0' fill-opacity='1' stroke='%2321bdb0' stroke-width='2' d='M25.6 85.6L1.2 43.3 25.6 1h48.8l24.4 42.3-24.4 42.3H25.6z' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-color: transparent;
        transform: scale(1.15); }
      .decor-boxes__item:nth-child(7n) {
      margin-left: 0; }
      .decor-boxes__item:nth-child(7n+1) {
      margin-top: -7.14286%; }
      .decor-boxes__item:nth-child(7n+2) {
      margin-top: 0; }
      .decor-boxes__item:nth-child(7n+3) {
      margin-top: -7.14286%; }
      .decor-boxes__item:nth-child(7n+5) {
      margin-top: -7.14286%; }
      .decor-boxes__item:nth-child(7n+7) {
      margin-top: -7.14286%; }
  .decor-boxes__item-inner {
    display: block;
    height: 0;
    padding-top: 100%; }
  .decor-boxes__item-content {
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%); } }

.vacancy-items-list {
  padding: 0;
  margin: 0;
  list-style: none; }

.vacancy-item {
  padding: 1.5em;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.07); }

.vacancy-item__title {
  margin: 0;
  margin-bottom: 1em;
  font-weight: normal;
  text-transform: uppercase; }

.vacancy-item__text {
  margin-bottom: 1.5em; }

.vacancy-item__salary {
  font-size: 1.1em; }

.events-item {
  margin-bottom: 2rem; }

.events-item__wraplink {
  padding: 1.5em;
  display: block;
  display: flex;
  text-decoration: none;
  color: currentColor;
  transition: 0.35s; }
  .events-item__wraplink:hover {
    background-color: rgba(255, 255, 255, 0.07); }

.events-item__image-area {
  width: 33%;
  min-width: 33%;
  max-width: 33%;
  margin-right: 1.5em;
  flex-grow: 1; }

.events-item__image {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 100%; }
  .events-item__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
    .no-objectfit .events-item__image img {
      height: auto; }
    .no-objectfit.csstransforms .events-item__image img {
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }

.events-item__text-area {
  display: flex;
  flex-direction: column; }

.events-item__title {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.125rem; }

.events-item__text {
  color: #fff; }

.events-item__date {
  margin-top: auto;
  color: #777; }

.posts-nav {
  display: flex;
  border: 1px solid rgba(33, 189, 176, 0.5);
  text-transform: lowercase; }

.posts-nav__link {
  position: relative;
  display: block;
  padding: 0.8em;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  color: currentColor;
  line-height: 1;
  font-weight: normal;
  transition: 0.3s; }
  .posts-nav__link::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain; }
  .posts-nav__link--prev {
    text-align: left;
    padding-left: 1.8rem; }
    .posts-nav__link--prev::before {
      left: 0.2em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23fff' d='M179.2 38.4c0 1.6-.6 3.3-2 4.5l-85 85 85 85c2.6 2.6 2.6 6.6 0 9s-6.4 2.6-9 0l-89.5-89.5c-2.5-2.5-2.5-6.5 0-9L168.3 34c2.5-2.6 6.5-2.6 9 0 1.3 1 2 2.8 2 4.4z'/%3E%3C/svg%3E%0A"); }
    .posts-nav__link--prev:hover:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%2321bdb0' d='M179.2 38.4c0 1.6-.6 3.3-2 4.5l-85 85 85 85c2.6 2.6 2.6 6.6 0 9s-6.4 2.6-9 0l-89.5-89.5c-2.5-2.5-2.5-6.5 0-9L168.3 34c2.5-2.6 6.5-2.6 9 0 1.3 1 2 2.8 2 4.4z'/%3E%3C/svg%3E%0A"); }
  .posts-nav__link--next {
    text-align: right;
    padding-right: 1.8rem; }
    .posts-nav__link--next::before {
      right: 0.2em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23fff' d='M76.8 217.6c0-1.6.6-3.3 2-4.5l85-85-85-85c-2.6-2.6-2.6-6.6 0-9s6.4-2.6 9 0l89.5 89.5c2.5 2.5 2.5 6.5 0 9L87.7 222c-2.5 2.6-6.5 2.6-9 0-1.3-1-2-2.8-2-4.4z'/%3E%3C/svg%3E%0A"); }
    .posts-nav__link--next:hover:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%2321bdb0' d='M76.8 217.6c0-1.6.6-3.3 2-4.5l85-85-85-85c-2.6-2.6-2.6-6.6 0-9s6.4-2.6 9 0l89.5 89.5c2.5 2.5 2.5 6.5 0 9L87.7 222c-2.5 2.6-6.5 2.6-9 0-1.3-1-2-2.8-2-4.4z'/%3E%3C/svg%3E%0A"); }
  .posts-nav__link span {
    display: block; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html,
body {
  overflow-x: hidden; }

html {
  font-size: 16px; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-size: 100%;
  line-height: 1.4;
  background: #151515;
  color: #fff;
  font-family: "futurafuturisc", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; }

@media only screen and (min-width: 1440px) {
  html {
    font-size: 17.6px; } }

@media only screen and (min-width: 1920px) {
  html {
    font-size: 19.2px; } }

.main-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-grow: 1; }
  .main-content > * {
    width: 100%; }

.homepage .main-content {
  padding-bottom: 0;
  display: block; }

.page__header {
  display: flex;
  margin-bottom: 35px; }

.page__title {
  margin: 0;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "futurafuturisc", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 1.125rem;
  color: #21bdb0; }

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  padding-left: 14px;
  padding-right: 14px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }

@media only screen and (min-width: 768px) {
  .container {
    max-width: 740px; } }

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 980px; } }

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1190px; } }

@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1440px; } }

a {
  color: #21bdb0; }
  a:hover {
    color: #37c4b8; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 1em; }

.main-header {
  line-height: 1.4; }

.main-header__top-panel {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #000; }

.main-header__bottom-panel {
  position: relative; }

.homepage .main-header__bottom-panel::after {
  content: "";
  display: block;
  height: 50vh;
  max-height: 350px;
  background: linear-gradient(to bottom, rgba(8, 47, 44, 0.9) 20%, rgba(150, 150, 150, 0.45)), url("../img/clinical-research.jpg") no-repeat top;
  background-size: cover; }

.main-header__inner {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .main-header__inner > *:not(:last-child) {
    margin-bottom: 1.7rem; }

.main-header-logo {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  color: #fff; }

.main-header-logo__image {
  max-width: 80px;
  max-height: 80px;
  margin-right: 1.5em; }
  .main-header-logo__image img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.main-header-logo__text {
  font-size: 14px; }

.main-header-logo__name {
  margin-bottom: 0.25em;
  font-size: 1.28571em;
  text-transform: uppercase;
  font-weight: normal; }

.main-header-logo__description {
  margin: 0;
  font-weight: normal;
  font-size: 1em; }

.main-header-info {
  display: flex;
  align-items: center; }

.main-header-address {
  margin: 0;
  margin-right: 2em; }

.main-header-holder-boxes .button {
  margin-top: 0.5em; }

.main-header-phone {
  margin-bottom: 0.8em; }
  .main-header-phone a {
    color: currentColor;
    text-decoration: none; }

.main-nav-wrapper {
  background-color: #131313; }

.homepage .main-nav-wrapper {
  background-color: rgba(19, 19, 19, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.main-nav {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  text-transform: uppercase;
  list-style: none;
  font-size: 0.875rem; }

.main-nav__link {
  position: relative;
  padding: 1em;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #151515;
  text-decoration: none;
  color: currentColor;
  margin-right: 2px;
  transition: background-color 0.2s, color 0.2s; }
  .main-nav__link:hover {
    background-color: #222; }
  .main-nav__link--active, .main-nav__link--active:hover {
    background-color: #232323;
    color: #21bdb0;
    cursor: default; }

.main-nav__text-link {
  margin: auto; }
  .main-nav__text-link::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .main-nav__text-link span {
    display: block; }

@media only screen and (max-width: 767px) {
  .homepage .main-header__bottom-panel::after {
    content: none; }
  .main-nav {
    display: none; } }

@media only screen and (min-width: 768px) {
  .main-header__inner {
    flex-direction: row; }
    .main-header__inner > *:not(:last-child) {
      margin-bottom: 0; }
  .main-header-logo {
    margin-left: 0; } }

.index-sections-group__item {
  padding: 2em 1em;
  flex-basis: 100%; }
  .index-sections-group__item--news {
    background-color: #1b1b1b; }
  .index-sections-group__item--docs {
    background-color: #222; }

@media only screen and (min-width: 1024px) {
  .index-sections-group__item {
    flex-basis: 25%; }
    .index-sections-group__item--about {
      flex-grow: 1; } }

.item-news {
  margin: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #222222; }
  .item-news a {
    outline: none;
    text-decoration: none;
    color: currentColor; }

.news-img {
  display: inline-block;
  float: left; }

.item {
  min-height: 68px;
  margin-left: 71px;
  font-size: 18px; }
  .item h3 {
    margin: 0;
    font-size: 20px; }
  .item p {
    margin: 0; }

.dt-news {
  color: #656464;
  line-height: 1.5;
  font-size: 17px; }

/*============================================
=            Documents items list            =
============================================*/
.documents-items-list {
  padding: 0;
  margin: 0;
  list-style: none; }

.documents-item {
  margin-bottom: 0.8rem;
  font-size: 1.125rem; }

.documents-item__wraplink {
  display: block;
  padding: 1rem;
  padding-left: 4.6875rem;
  position: relative;
  color: currentColor;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2); }
  .documents-item__wraplink::before {
    content: "";
    position: absolute;
    left: 0.8rem;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 3.125rem;
    height: 3.125rem;
    background: url("../img/1.png") no-repeat;
    background-size: contain; }

/*=====  End of Documents items list  ======*/
.widget-area-wrapper,
.content-area-wrapper {
  display: flex;
  flex-direction: column; }

.widget-area,
.content-area {
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex: 1 0 auto;
  max-width: 100%; }

/*===================================
=            Widget area            =
===================================*/
.widget-area {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #222; }
  @media only screen and (min-width: 768px) {
    .widget-area {
      padding-left: 0; }
      .widget-area::before {
        content: "";
        position: absolute;
        width: 50vw;
        top: 0;
        bottom: 0;
        right: 100%;
        background-color: inherit; } }

/*=====  End of Widget area  ======*/
/*====================================
=            Content area            =
====================================*/
.homepage .content-area {
  padding-top: 0;
  padding-bottom: 0; }

/*=====  End of Content area  ======*/
/*==============================
=            Widget            =
==============================*/
.widget__header {
  margin-bottom: 35px; }

.widget__title {
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "futurafuturisc", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 1.125rem;
  color: #21bdb0; }

/*=====  End of Widget  ======*/
/*========================================
=            Callback section            =
========================================*/
.callback-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: url("../img/wallpaper-3a055.jpg") center/cover; }

.callback-section__title {
  text-align: center; }

/*=====  End of Callback section  ======*/
/*=====================================
=            Callback form            =
=====================================*/
/*=====  End of Callback form  ======*/
/*===================================
=            Main footer            =
===================================*/
.main-footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #000; }

.main-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .main-footer__inner > *:not(:last-child) {
    margin-bottom: 1.7rem; }

.main-footer-logo {
  display: flex;
  align-items: center; }

.main-footer-logo__image {
  max-width: 62px;
  max-height: 62px;
  margin-right: 1em; }
  .main-footer-logo__image img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.main-footer-logo__text {
  font-size: 14px; }

.main-footer-logo__name {
  text-transform: uppercase;
  font-weight: normal; }

.main-footer-contacts__phone {
  text-align: center;
  margin-bottom: 0.5em; }
  .main-footer-contacts__phone a {
    text-decoration: none;
    color: currentColor; }

.main-footer-socials {
  display: flex; }

.main-footer-socials__item {
  overflow: hidden;
  margin-right: 0.7em;
  width: 36px;
  height: 36px;
  text-indent: -1000px;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.8;
  transition: opacity 0.25s; }
  .main-footer-socials__item:hover {
    opacity: 1; }
  .main-footer-socials__item.vk {
    background-image: url("../img/svg-icons/vk.svg"); }
  .main-footer-socials__item.fb {
    background-image: url("../img/svg-icons/fb.svg"); }
  .main-footer-socials__item.ig {
    background-image: url("../img/svg-icons/ig.svg"); }

.main-footer-developer {
  display: flex;
  align-items: center;
  font-size: 0.78em; }

.main-footer-developer__image {
  width: 24px;
  height: 24px;
  overflow: hidden;
  margin-right: 1em; }

@media only screen and (max-width: 1023px) {
  .main-footer-logo {
    display: none; } }

@media only screen and (min-width: 768px) {
  .main-footer__inner {
    flex-direction: row; }
    .main-footer__inner > *:not(:last-child) {
      margin-bottom: 0; } }

/*=====  End of Main footer  ======*/
.items-vacancyes {
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: -33px; }
  .items-vacancyes__block {
    width: 70%;
    min-height: 100px;
    background: #232323;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 16pt;
    padding: 10px 10px 10px 40px; }

.content_block {
  width: 75%;
  float: right;
  background-color: #151515;
  min-height: 400px;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  font-size: 14pt; }
  .content_block .zagolovok {
    margin: 0;
    display: inline-block; }

.nav-block {
  width: 25%;
  float: left;
  background-color: #222222;
  min-height: 400px; }

.activities-nav {
  padding: 0;
  margin: 0;
  list-style: none; }

.activities-nav__item {
  margin-bottom: 0.2em; }

.activities-nav__link {
  position: relative;
  display: block;
  padding: 1em;
  padding-left: 2.5em;
  text-decoration: none;
  color: currentColor;
  background-color: rgba(26, 26, 26, 0.9);
  transition: 0.25s; }
  .activities-nav__link::before {
    content: "";
    left: 0.5em;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    transform: rotate(-15deg);
    background: url("../img/svg-icons/main-hexagon.svg") no-repeat;
    background-size: contain; }
  .activities-nav__link:hover {
    color: #21bdb0; }

.activities-nav__item--current .activities-nav__link {
  text-decoration: underline;
  background-color: #1a1a1a;
  color: #21bdb0; }
  .activities-nav__item--current .activities-nav__link::before {
    transform: none; }

.news-content {
  width: 90%;
  overflow: auto;
  background: #000;
  margin-top: 20px; }
  .news-content img {
    margin: 0;
    float: left; }
  .news-content h3 {
    margin: 0 0 0 240px; }
  .news-content p {
    margin: 0 0 0 240px; }

.nav-news {
  display: inline-block;
  float: right;
  margin-right: 80px; }
  @media only screen and (max-width: 1024px) {
    .nav-news {
      margin-right: 30px; } }
  .nav-news a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #21bdb0;
    padding: 10px 15px; }
    .nav-news a:hover {
      background: #21bdb0; }

.news-open-img {
  object-fit: cover;
  margin: 30px 80px 20px 0; }
  .news-open-img img {
    width: 100%; }

.news-open__dt {
  color: #353535;
  margin-bottom: 10px; }

.service {
  float: left;
  width: 14%;
  position: relative;
  transition: color 0.2s;
  color: #fff;
  margin-bottom: 1em;
  cursor: default; }

.service:nth-child(odd) {
  margin-top: 130px; }

.service:hover {
  color: #fff; }

.service a {
  color: currentColor; }

.service__substrate-box {
  color: #21bdb1;
  fill: #1a1a1a;
  position: relative;
  width: 100%;
  padding-top: 100%;
  height: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: fill 0.2s, color 0.3s, -webkit-transform 0.3s 0.05s ease-out;
  transition: fill 0.2s, color 0.3s, transform 0.3s 0.05s ease-out;
  transition: fill 0.2s, color 0.3s, transform 0.3s 0.05s ease-out, -webkit-transform 0.3s 0.05s ease-out; }

.service__substrate-box svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

.service:hover .service__substrate-box {
  color: #21bdb1;
  fill: #21bdb1;
  -webkit-transform: rotate(0deg) scale(1.1);
  -ms-transform: rotate(0deg) scale(1.1);
  transform: rotate(0deg) scale(1.1); }

.service__text-box {
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  position: absolute; }

.service__text-box p {
  margin: 0; }

.federal-links__list {
  display: flex;
  flex-wrap: wrap; }

.federal-links__item {
  display: flex;
  width: 100%;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  background-color: #292929;
  margin-bottom: 20px;
  font-size: 18px;
  box-sizing: border-box; }

.federal-links__item:hover {
  color: #fff; }

.federal-links__image-area {
  min-width: 30%;
  flex-basis: 30%;
  margin-right: 1em; }

.federal-links__text-area {
  display: flex;
  flex-direction: column; }

.federal-links__image {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden; }
  .federal-links__image img {
    max-width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.federal-links__title {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1em;
  transition: color 0.4s; }

.federal-links__item:hover .federal-links__title {
  color: #21bdb0; }

.federal-links__link {
  display: block;
  margin-top: auto;
  font-size: 11px;
  opacity: 0.7;
  text-transform: uppercase;
  transition: opacity 0.4s 0.2s; }

.federal-links__item:hover .federal-links__link {
  opacity: 1; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .federal-links__item {
    width: calc(50% - 10px);
    margin-right: 20px; }
    .federal-links__item:nth-child(2n) {
      margin-right: 0; } }

@media only screen and (min-width: 1024px) {
  .federal-links__item {
    width: calc(33.33333% - 14px);
    margin-right: 20px; }
    .federal-links__item:nth-child(3n) {
      margin-right: 0; }
  .federal-links__image-area {
    flex-basis: 20%; } }
