<a class="main-nav__link" href="/">
    <span class="main-nav__text-link">О нас</span>
</a>
<a class="main-nav__link" href="/documents">
    <span class="main-nav__text-link">Документы</span>
</a>
<a class="main-nav__link" href="/activities">
    <span class="main-nav__text-link">Виды <span>деятельности</span></span>
</a>
<a class="main-nav__link" href="/clients">
    <span class="main-nav__text-link">Клиенты</span>
</a>
<a class="main-nav__link" href="/partners">
    <span class="main-nav__text-link">Партнеры</span>
</a>
<a class="main-nav__link" href="/links-to-federal">
    <span class="main-nav__text-link">Ссылки на <span>федеральные</span> <span>службы</span></span>
</a>
<a class="main-nav__link" href="/contact">
    <span class="main-nav__text-link">Контакты</span>
</a>