<main class="main-content container">

    <div class="grid">
        <div class="widget-area-wrapper col-tablet-5 col-laptop-4">
            <aside class="widget-area">
                <div class="widget">
                    <div class="widget__header">
                        <div class="widget__title">ВИД ДЕЯТЕЛЬНОСТИ</div>
                    </div>

                    {% set data = __SELF__.data %}
                    {% set a = __SELF__.a %}


                    <div class="widget__content">
                        <ul class="activities-nav">
                            {% for d in data %}
                            <li class="activities-nav__item"><a class="activities-nav__link"
                                                                href="/activities/{{d.slug}}">
                                {{d.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
        <div class="content-area-wrapper col-tablet-7 col-laptop-8">
            <article class="content-area">
                <div class="page__header">
                    <h1 class="page__title">{{a.title}}</h1>
                </div>

                <div class="page__content">
                    {{a.text|raw}}
                </div>
            </article>
        </div>
    </div>
</main>