<footer class="main-footer">
    <div class="main-footer__inner container">
        <div class="main-footer-logo">
            <div class="main-footer-logo__image">
                <img src="{{ '/assets/img/logo.png'|theme }}" alt="">
            </div>
            <div class="main-footer-logo__text">
                <span class="main-footer-logo__name">ЭКО РЕГИОН ЛАБ</span>
            </div>
        </div>
        <div class="main-footer-contacts">
            <div class="main-footer-contacts__phone">
                Телефон: <a href="tel:+7957896512">+7 (4832) 40 00 39</a>
            </div>
            <div class="main-footer-contacts__phone" style="font-size:0.78em;">
                E-mail: <a href="mailto:info@eco-region-lab.pro">info@eco-region-lab.pro</a>
            </div>

        </div>
        <div class="main-footer-socials">
            <a class="main-footer-socials__item vk" href="https://vk.com/club134396258 " title="Вконтакте">Вконтакте</a>
            <a class="main-footer-socials__item fb" href="https://www.facebook.com/ecoregion32/" title="Facebook">Facebook</a>
            <a class="main-footer-socials__item ig" href="https://www.instagram.com/eco_region_lab/ " title="Instagram">Instagram</a>
        </div>
        <div class="main-footer-developer">
            <!--<div class="main-footer-developer__image">-->
                <!--<img src="http://placehold.it/24x24" alt=""/>-->
            <!--</div>-->
            <!--<div class="main-footer-developer__text">-->

            <!--</div>-->
        </div>
    </div>
</footer>