<header class="main-header">
    <div class="main-header__top-panel">
        <div class="main-header__inner container">
            <a style="text-decoration: none" href="/" class="main-header-logo">
                <div class="main-header-logo__image">
                    <img src="{{ '/assets/img/logo.png'|theme }}" alt="">
                </div>
                <div class="main-header-logo__text">
                    <div class="main-header-logo__name">ЭКО РЕГИОН ЛАБ</div>
                    <h1 class="main-header-logo__description">Лаборатория экологического мониторинга</h1>
                </div>
            </a>

            <div class="main-header-info">
                <p class="main-header-address">
                    г.Брянск, <br> ул. Бурова 12а
                </p>
                <div class="main-header-holder-boxes">
                    <div class="main-header-phone">
                        Телефон: <a href="tel:+79512561278">+7 (4832) 40 00 39</a>
                    </div>
                    <a href="#popup-callback" class="button button--fluid js-trigger-inline-popup">Обратный звонок</a>
                    <a href="#popup-question" class="button button--fluid js-trigger-inline-popup">Задать вопрос</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header__bottom-panel">
        <div class="main-nav-wrapper">
            <nav class="main-nav container">
                {% partial "top_nav" %}
            </nav>
        </div>
    </div>
</header>
