{% set clients = __SELF__.clients %}

{% for client in clients %}
<a class="decor-boxes__item" href="{{client.link}}" rel="nofollow" target="_blank">
                <span class="decor-boxes__item-inner"><span class="decor-boxes__item-content">
                  <img title="{{client.title}}" src="{{client.icon.path}}" alt="brusbox"/>
                </span>
                </span>
</a>
{% endfor %}