{% set partner = __SELF__.partners %}

{% for client in clients %}

<a class="decor-boxes__item" href="{{partner.link}}">
                <span class="decor-boxes__item-inner"><span class="decor-boxes__item-content">
                  <img title="{{partner.title}}" src="{{partner.icon.path}}" alt="" />
                </span></span>
</a>

{% endfor %}